#wrapper {
    width: 400px;
}

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.clearflx::after {
    content: '';
    display: block;
    clear: both;
}

.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.box {
    float: left;
}

.two {
    float: left;
}

.mtop {
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}

.mmiddle {
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}

.right {
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: left;
}

.bottom {
    width: 250px;
    height: 100px;
    background-color: #8c2727;
    float: left;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}